<div class="groups-title">
  <p>CATEGORIES</p>
</div>
<div class="groups">
<% @groups.each do |group| %>
  <div class="group">
  <img src="<%= group.icon %>" alt="<%= group.name %>" class="group-icon">
  <%= link_to group.name, groups_path(group), class: "group-name" %>
  </div>
<% end %>
</div>
<div class="add-category">
  <%= link_to "ADD A CATEGORY", new_group_path, class: "add-category-btn" %>
</div>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "logout-btn" %>
