<div class='payment-title'>
  <a href="<%= group_payments_path(@group) %>">
    <div class="back-container">
      <img src="<%= asset_path('back-white.png') %>" alt="Back" class="back-icon">
    </div>
  </a>
  <p class="payment-t">ADD A NEW PAYMENT</p>
</div>
<%= form_with model: @payment, url: group_payments_path(@group), method: :post, local: true do |form| %>
  <div class="form-payment">
  <p>Choose a category:</p>
  <% Group.all.each do |group| %>
    <label>
      <%= form.check_box :group_ids, { multiple: true }, group.id, nil %>
      <%= group.name %>
    </label>
  <% end %>
</div>
  <div class="form-payment">
    <%= form.text_field :name, class: "form-control", placeholder: "Enter payment name" %>
  </div>
  <div class="form-payment">
    <%= form.text_field :amount, class: "form-control", placeholder: "Enter payment amount" %>
  </div>
  <div class="form-payment-btn add">
    <%= form.submit "ADD PAYMENT", class: "add-btn" %>
  </div>
<% end %>